.skills-sec {
  min-height: 450px;
  max-width: 1260px;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
}
.skill-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
  padding: 2rem;
}
.skill-info {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-direction: column;
}
.skill-title {
  color: var(--white);
  font-weight: 500;
  font-size: 3rem;
}
.skill-date {
  color: var(--p-text-color);
}
.ring-skill-wrapper {
  position: relative;
  width: 100%;
  min-height: 100px;
}
.ring-skill {
  position: absolute;
  left: 90%;
  bottom: 150%;
}
@media screen and (max-width: 767px) {
  .skill-wrapper {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
  }
}

/* Media query for mobile devices (up to 480px width) */
@media screen and (max-width: 480px) {
  .skill-wrapper {
    grid-template-columns: repeat(1, 1fr); /* 1 column for mobile devices */
  }
  .skill-info {
    align-items: center;
  }
}
